div{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: lightsteelblue;
}
.static-box{
    background-color: cornflowerblue;
    position: static;
    display: inline-block;
}

.relative-box{
    background-color: darkolivegreen;
    position: relative;
    left: 20px;
    top: 30px;
    display: inline-block;
}

.contain{
    border: solid black 4px;
    height: 200px;
    width: 200px;
    position: absolute;
    margin: 30px;
    display: inline-block;
    left: 400px;

}

.absolute-box{
    background-color: darkseagreen;
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-block;
}

.fixed-box{
    position: fixed;
    background-color: darkcyan;
    bottom: 10px;
    right: 10px;
    width: 100vw;
    display: inline-block;
}

.sticky-box{
    position: sticky;
    top: 0px;
    right: 0px;
    background-color: purple;
    display: inline-block;
}

.para{
    height: 200px;
    width: 100vw;
    margin-top: 150px;
    margin-bottom: 60px;
}

.background-image{
    background-color: darkred;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Panor%C3%A1mica_Oto%C3%B1o_Alc%C3%A1zar_de_Segovia.jpg/1200px-Panor%C3%A1mica_Oto%C3%B1o_Alc%C3%A1zar_de_Segovia.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    display: inline-block;
    margin: 30px;

}

.background-image-repeat{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Panor%C3%A1mica_Oto%C3%B1o_Alc%C3%A1zar_de_Segovia.jpg/1200px-Panor%C3%A1mica_Oto%C3%B1o_Alc%C3%A1zar_de_Segovia.jpg);
    background-repeat: repeat-x;
    margin: 30px;
}

.box1{
    background-color: darkred;
    z-index: 1;
    position: absolute;
    margin: 30px;
}

.box2{
    background-color: crimson;
    z-index: 2;
    position: absolute;
    margin: 30px;
}

.flex1{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 200px;
    background-color: pink;
}

.flex2{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: bisque;
}

.flex3{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
    background-color: lightsalmon;
}

.flex4{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    background-color: mediumpurple;
}

.child1{
    background-color: lightcoral;
    height: 150px;
}

.child2{
    background-color: lightblue;
    height: 200px;
}

.child3{
    background-color: lavender;
    height: 100px;
}

.flex5{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
    background-color: lemonchiffon;
}

.flex6{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-around;
    margin: 30px; 
    background-color: darkslategrey;
}

.flex-grow{
    flex-grow: 2;
}

.flex7{
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    margin: 30px;
    background-color: palevioletred;
}