div{
    border: 2px solid black;
    height: 60px;
    width: 60px;
    display: inline-block;
    text-align: center;
}
#static-box{
    position: static;
}

#relative-box{
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
}
